

.n52{
    text-align: left;
    color: #FF443B;
    font-size: 63px;
line-height: 75.6px;
font-weight: 800;
padding: 15px;
margin: 15px
    
}
.sp1{
    color: #292F75;
    font-weight: 900;
}
.sp2{
    color: #292F75;
    font-weight: 900
}
.para{
    font-weight: 400;
    font-size: 18px;
    color: #FF443B;
    padding: 20px 15px 15px 15px;
    margin: 15px;
    
}

.primary_button{
    width: 115px;
    font-size: 15px;
    background-color: #292F75;
    font-weight: 600;
    padding: 10px;
    left: 30px;
}
.magnets_action{
    text-align: left;
    padding-top: 3.5rem;
    font-size: 56px;
    color: #292F75;
    text-align: left;
    font-weight: 800;
    padding: 15px;
margin: 15px
}
.dotimg{
    margin: 15px;
    padding: 15px;
}

.picture{
    width: 791.59px;
    height:494px;
    margin: 30px;

}
.para_div{

    
    padding-top: 5px;
}
.para2{
    font-size: 18px;
    color: #303642;
    font-weight: 300;
    margin: 30px;
}
.sp3{
    font-weight: 700;
}
.videohere{
    width: 1856px;
height: 920px;
border: 1px solid black;
border-radius: 20px;
}